# Initialize Datasets
## Places

In [1]:
import pandas as pd
import numpy as np
import seaborn as sns

import json
from tqdm import tqdm

### Dataset Parameters

In [2]:
ds_path = "../../data/exported/places_o200000_q2500000_scaled.json"
inf_path = "../../data/exported/places_o200000_q2500000_scaled.inf.csv"
output_dir = "../../data/exported/"

num_objects = 100000 * 2

### Load Data

In [15]:
df = pd.read_json(ds_path, lines=True).iloc[200000:, :].reset_index(drop=True).drop(columns=['id']).reset_index()
df.head()

   index           x           y               keywords  scaled
0      0  282.138698  151.113065   [physician, surgeon]    True
1      1  295.309161  141.425445  [roofing, consultant]    True
2      2  294.304889  141.179529            [appliance]    True
3      3  294.975799  140.572582      [electric, motor]    True
4      4  295.225233  140.466756       [plant, packing]    True

In [17]:
inf = pd.read_csv(inf_path)

print(inf.shape)
inf.head()

(69, 2)

   Unnamed: 0    index
0       15152    15152
1       40653    40653
2     2447523  2447523
3      979719   979719
4     2147397  2147397

### Remove inf queries

In [11]:
df = df[~df['index'].isin(inf['index'].values)]

df.shape

(2499931, 5)

### Export

In [13]:
output_name = ds_path[:-5] + ".no_inf"

df.to_json(f'{output_name}.json', orient='records', lines=True)
print(f'{output_name}.json')

../../data/exported/places_o200000_q2500000_scaled.no_inf.json