In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib

import warnings
warnings.filterwarnings("ignore", "is_categorical_dtype")
warnings.filterwarnings("ignore", "use_inf_as_na")

font = {'size'   : 12}

matplotlib.rc('font', **font)

In [2]:
create_time = pd.read_csv("../results_03_15/FAST_KNN_NO_ObjIndex_L9_woInf_search_sub_timeline_2500000_100000.csv", names=['obj_search', 'insert', 'ar', 'des_count']).reset_index()
create_time['name'] = 'fast'
create_time['obj_search'] = create_time['obj_search'] / 1000000
create_time['insert'] = create_time['insert'] / 1000000
create_time = create_time.melt(id_vars=['index', 'name', 'ar', 'des_count'], var_name='stage', value_name='time')

create_time

           index  name          ar  des_count       stage      time
0              0  fast    2.646341          0  obj_search  0.884810
1              1  fast   17.806978          0  obj_search  5.323943
2              2  fast  113.705647          0  obj_search  0.144228
3              3  fast    9.208080          0  obj_search  0.068340
4              4  fast    1.264358          0  obj_search  0.195029
...          ...   ...         ...        ...         ...       ...
4422023  2499995  fast    0.243780          0      insert  0.001640
4422024  2499996  fast    3.895217          0      insert  0.001176
4422025  2499997  fast    8.129695          0      insert  0.003093
4422026  2499998  fast   70.579975          0      insert  0.002131
4422027  2499999  fast    1.070561          0      insert  0.001397

[4422028 rows x 6 columns]

## Creation time

In [ ]:
plt.figure(figsize=(16,3))
sns.histplot(x='time', bins=500, hue='stage', multiple='layer', data=create_time)
plt.xlabel('time (milis)')
plt.ylim(0, 10)

**Miserable queries**

Queries that takes too much time (>100 milis).

In [ ]:
miserable_queries = create_time[create_time['time'] > 5].sort_values('time', ascending=False)
miserable_queries

In [ ]:
# step = 500000
# for i in range(0, 2500000, step):
# plt.figure(figsize=(16,3))
# sns.lineplot(x='index', y='time', hue='stage', style='stage', data=create_time)
# plt.xlabel('timestamp')
# plt.ylabel('time (milis)')

Relative time (FAST vs CkQST)

In [ ]:
# relative_create = create_time[create_time['stage'] == 'insert']['time'].reset_index() - create_time[create_time['stage'] == 'obj_search']['time'].reset_index()
# relative_create
# plt.figure(figsize=(16,8))
# sns.lineplot(data=relative_create)
# plt.xlabel('timestamp')
# plt.ylabel('time (milis)')

## Load Queries

In [ ]:
queries_df = pd.read_json('../../data/exported/places_o200000_q2500000_scaled.json', lines=True);
queries_df = queries_df.iloc[200000:, :].reset_index(drop=True).drop(columns=['id']).reset_index()

queries_df.tail()

### Properties of miserable queries

In [ ]:
queries_df.shape

In [ ]:
details = queries_df.join(miserable_queries.set_index('index'), on='index').dropna().sort_values('time', ascending=False)
# details = details[details['name'] == 'fast']
inf_val = details['ar'].max()
details['ar'] = details['ar'].apply(lambda x: np.inf if x >= inf_val else x)
all = details.drop(columns=['x', 'y']).rename(columns={'time': 'insertion time (milis)'})

In [ ]:
obj_search = all[all['stage'] == 'obj_search']
insert = all[all['stage'] == 'insert']

# insert#.join(ckqsts, rsuffix='_')
insert.head(25)
# all.head(25)

In [ ]:
obj_search.head(25)

### Extract Inf

In [ ]:
inf_queries = obj_search[obj_search['ar'] == np.inf]
inf_queries.shape

In [ ]:
# inf_queries['index'].to_csv('../../data/exported/places_o200000_q2500000_scaled.inf.csv')

#####