In [1]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
from matplotlib.lines import Line2D

import warnings
warnings.filterwarnings("ignore", "is_categorical_dtype")
warnings.filterwarnings("ignore", "use_inf_as_na")

font = {'size'   : 12}

matplotlib.rc('font', **font)

In [7]:
data_dir = "/homes/ukumaras/Projects/fast"

df = pd.read_csv(f"{data_dir}/results_final/FAST_KNN_NO_ObjIndex_twitter_grid.csv")

df = pd.DataFrame(df).groupby(['name', 'num_queries']).mean().reset_index() #[df.num_queries == 5000000]
df['index'] = df['name'].apply(lambda x: x.split("_")[0])

df['dataset'] = df['name'].apply(lambda x: x.split("_")[-2])
df['grid_size'] = df['name'].apply(lambda x: x.split("_")[-1]).astype(int)
df['num_queries'] = (df['num_queries'] / 1000000).astype(int)
df

,name,num_queries,creation_time,search_time,num_objects,k,knn_deg_ratio,knn_ar_thresh,create_object_mem,create_query_mem,create_query_idx_mem,create_object_idx_mem,search_object_mem,search_query_mem,search_query_idx_mem,search_object_idx_mem,index,dataset,grid_size
0,FAST_KNN_NO_ObjIndex_twitter_1024,1,1.725106e+12,2.641590e+09,100000.0,5.0,100.0,5.0,48713904.0,518289784.0,639866064.0,137637512.0,48713904.0,559567848.0,681090576.0,257584784.0,FAST,twitter,1024
1,FAST_KNN_NO_ObjIndex_twitter_2048,1,1.159509e+12,2.803128e+09,100000.0,5.0,100.0,5.0,48713904.0,518289784.0,639721600.0,139937208.0,48713904.0,559569264.0,680947528.0,257298656.0,FAST,twitter,2048
2,FAST_KNN_NO_ObjIndex_twitter_256,1,4.232193e+11,1.602087e+09,100000.0,5.0,100.0,5.0,48713904.0,518289784.0,297486800.0,33622312.0,48713904.0,525909664.0,305102312.0,61016312.0,FAST,twitter,256
3,FAST_KNN_NO_ObjIndex_twitter_512,1,2.567767e+12,2.679131e+09,100000.0,5.0,100.0,5.0,48713904.0,518289784.0,639996240.0,133441800.0,48713904.0,559566248.0,681219152.0,254122160.0,FAST,twitter,512

### Create

In [8]:
create = pd.DataFrame(df.loc[:, ['index', 'grid_size', 'creation_time']])
create = create.sort_values('grid_size')
create

  index  grid_size  creation_time
2  FAST        256   4.232193e+11
3  FAST        512   2.567767e+12
0  FAST       1024   1.725106e+12
1  FAST       2048   1.159509e+12

In [9]:
out = create.pivot(index='grid_size', columns='index', values='creation_time').reset_index()
out.to_csv('out_grid.dat', header=False, index=False, sep='\t')

### Search

In [12]:
search = pd.DataFrame(df.loc[:, ['index', 'grid_size', 'search_time']])
search = search.sort_values('grid_size')
search

  index  grid_size   search_time
2  FAST        256  1.602087e+09
3  FAST        512  2.679131e+09
0  FAST       1024  2.641590e+09
1  FAST       2048  2.803128e+09

In [13]:
out = search.pivot(index='grid_size', columns='index', values='search_time').reset_index()
out.to_csv('out_grid.dat', header=False, index=False, sep='\t')