In [2]:
import pandas as pd
import numpy as np
import seaborn as sns
import matplotlib.pyplot as plt
import matplotlib
from matplotlib.lines import Line2D

import warnings
warnings.filterwarnings("ignore", "is_categorical_dtype")
warnings.filterwarnings("ignore", "use_inf_as_na")

font = {'size'   : 12}

matplotlib.rc('font', **font)

In [8]:
data_dir = "/homes/ukumaras/Projects/fast"

twitter_base_1k = pd.read_csv(f"{data_dir}/results_remote_new/CkQST_KNN_NO_twitter_maxk1_ckqst.csv")
twitter_base_3k = pd.read_csv(f"{data_dir}/results_remote_new/CkQST_KNN_NO_twitter_maxk3_ckqst.csv")
twitter_base_5k = pd.read_csv(f"{data_dir}/results_remote_new/CkQST_KNN_NO_twitter_maxk5_ckqst.csv")
twitter_base_7k = pd.read_csv(f"{data_dir}/results_remote_new/CkQST_KNN_NO_twitter_maxk7_ckqst.csv")

twitter_fast_1k = pd.read_csv(f"{data_dir}/results_remote_new/FAST_KNN_NO_ObjIndex_twitter_maxk1_fast.csv")
twitter_fast_3k = pd.read_csv(f"{data_dir}/results_remote_new/FAST_KNN_NO_ObjIndex_twitter_maxk3_fast.csv")
twitter_fast_5k = pd.read_csv(f"{data_dir}/results_remote_new/FAST_KNN_NO_ObjIndex_twitter_maxk5_fast.csv")
twitter_fast_7k = pd.read_csv(f"{data_dir}/results_remote_new/FAST_KNN_NO_ObjIndex_twitter_maxk7_fast.csv")

df = pd.concat([twitter_base_1k, twitter_base_3k, twitter_base_5k, twitter_base_7k, twitter_fast_1k, twitter_fast_3k, twitter_fast_5k, twitter_fast_7k])
df = pd.DataFrame(df[df.num_queries == 5000000]).groupby('name').mean().reset_index()
df['index'] = df['name'].apply(lambda x: x.split("_")[0])

ds_map = {
    'maxk1': 1,
    'maxk3': 3,
    'maxk5': 5,
    'maxk7': 7,
}
df['dataset'] = df['name'].apply(lambda x: x.split("_")[-2] if x.split("_")[-2] not in ds_map else ds_map[x.split("_")[-2]])
df

,name,creation_time,search_time,create_mem,search_mem,num_queries,num_objects,k,knn_deg_ratio,knn_ar_thresh,index,dataset
0,CkQST_KNN_NO_twitter_maxk1_ckqst,2.175372e+11,2.866160e+10,0.0,0.0,5000000.0,100000.0,5.0,NaN,NaN,CkQST,1
1,CkQST_KNN_NO_twitter_maxk3_ckqst,5.821364e+12,5.233196e+09,0.0,0.0,5000000.0,100000.0,5.0,NaN,NaN,CkQST,3
2,CkQST_KNN_NO_twitter_maxk5_ckqst,1.086549e+13,1.253420e+10,0.0,0.0,5000000.0,100000.0,5.0,NaN,NaN,CkQST,5
3,CkQST_KNN_NO_twitter_maxk7_ckqst,1.162692e+13,1.864251e+10,0.0,0.0,5000000.0,100000.0,5.0,NaN,NaN,CkQST,7
4,FAST_KNN_NO_ObjIndex_twitter_maxk1_fast,5.258525e+11,1.896069e+10,0.0,0.0,5000000.0,100000.0,5.0,100.0,5.0,FAST,1
5,FAST_KNN_NO_ObjIndex_twitter_maxk3_fast,5.592360e+12,3.391351e+09,0.0,0.0,5000000.0,100000.0,5.0,100.0,5.0,FAST,3
6,FAST_KNN_NO_ObjIndex_twitter_maxk5_fast,1.024333e+13,4.488358e+09,0.0,0.0,5000000.0,100000.0,5.0,100.0,5.0,FAST,5
7,FAST_KNN_NO_ObjIndex_twitter_maxk7_fast,1.160322e+13,5.566863e+09,0.0,0.0,5000000.0,100000.0,5.0,100.0,5.0,FAST,7

### Create

In [13]:
create = pd.DataFrame(df.loc[:, ['index', 'dataset', 'creation_time']])
create

   index  dataset  creation_time
0  CkQST        1   2.175372e+11
1  CkQST        3   5.821364e+12
2  CkQST        5   1.086549e+13
3  CkQST        7   1.162692e+13
4   FAST        1   5.258525e+11
5   FAST        3   5.592360e+12
6   FAST        5   1.024333e+13
7   FAST        7   1.160322e+13

In [14]:
out = create.pivot(index='dataset', columns='index', values='creation_time').reset_index()
out.to_csv('out_maxk.dat', header=False, index=False, sep='\t')

### Search

In [15]:
search = pd.DataFrame(df.loc[:, ['index', 'dataset', 'search_time']])
search

   index  dataset   search_time
0  CkQST        1  2.866160e+10
1  CkQST        3  5.233196e+09
2  CkQST        5  1.253420e+10
3  CkQST        7  1.864251e+10
4   FAST        1  1.896069e+10
5   FAST        3  3.391351e+09
6   FAST        5  4.488358e+09
7   FAST        7  5.566863e+09

In [16]:
out = search.pivot(index='dataset', columns='index', values='search_time').reset_index()
out.to_csv('out_maxk.dat', header=False, index=False, sep='\t')